/* .wallet-settings {
    position: absolute;
    left: 810px;
    top: 278px;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #121114;
}

.wallet-box {
    width: 572px;
    height: 278px;
    position: absolute;
    top: 317px;
    left: 810px;
    border-radius: 6px;
    border: 1px solid #D9D9D9;
}

.wallet-auto-reload {
    position: absolute;
    top: 335px;
    left: 828px;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.transfer-mode {
    position: absolute;
    top: 382px;
    left: 828px;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #5F5A6B;
}

.select-style {
    font-size: 14px;
    width: 536px;
    height: 40px;
    border: 1px solid #D9D9D9;
    border-radius: 6px;
    background: white;
    position: absolute;
    top: 404px;
    left: 828px;
}

.auto-label {
    color: #5F5A6B;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    position: absolute;
    top: 458px;
    left: 828px;
    gap: 4px;
}

.auto-input {
    background-color: white;
    color: #D9D9D9;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    width: 229.01px;
    height: 40px;
    border-radius: 6px;
    border: 1px solid #D2D1D6;
    padding: 6px 12px;
    position: absolute;
    top: 483px;
}

.dollar-sign {
    position: absolute;
    top: 493px;
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    color: Cool Grey 4;
}

.auto-reload-by {
    color: #5F5A6B;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    position: absolute;
    top: 458px;
    left: 1114px;
    gap: 4px;
    width: 57.32px;
    height: 21px;
}

.large-box {
    width: 572px;
    height: 145px;
    position: absolute;
    top: 619px;
    left: 810px;
    border: 1px solid #D9D9D9;
    border-radius: 6px;
}

.additional-charge-settings {
    color: #121114;
    position: absolute;
    width: 213px;
    height: 25px;
    top: 637px;
    left: 828px;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.rto-charges {
    font-family: 'Poppins';
    position: absolute;
    top: 684px;
    left: 828px;
    gap: 4px;
    color: #5F5A6B;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.info-icon {
    position: absolute;
    top: 5.6px;
    left: 107.6px;
}

.horizontal-line {
    width: 536px;
    position: absolute;
    top: 670px;
    left: 828px;
    border: 1px solid #D9D9D9;
}

.dimension-weight-charges {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #5F5A6B;
    position: absolute;
    top: 722px;
    left: 828px;
    gap: 4px;
}

.info-icon2 {
    position: absolute;
    top: 5.6px;
    left: 358.6px;
}

.radio-button-group {
    position: absolute;
    top: 684px;
    left: 1285px;
} */